<!-- views/create-post.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header>
        <div class="container">
          <h1>Welcome to My Personal Website</h1>
          <nav>
            <ul>
              <li><a href="#about">About Me</a></li>
              <li><a href="#projects">Projects</a></li>
              <li><a href="#contact">Contact</a></li>
              <li><a href="/blog">Contact</a></li>
              <li><a href="html/login.html">Login</a></li> <!-- Login Link -->
            </ul>
          </nav>
        </div>
      </header>

      <main>
        <form action="/create-post" method="POST">
          <label for="title">Post Title:</label>
          <input type="text" name="title" id="title" required>
    
          <label for="content">Post Content:</label>
          <textarea name="content" id="content" rows="5" required></textarea>
    
          <button type="submit">Publish Post</button>
        </form>
      </main>

      <footer>
        <div class="container">
          <p>&copy; 2025 IamRiaz. All rights reserved.</p>
        </div>
      </footer>
</body>